.loadingBG {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
     background: rgb(0, 0, 0);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 2s ease;
  }

.loadingContent{
  position: relative;
  margin-top: 2%;
  left: auto;
  right: auto;
  text-align: center;
}
#loading {
  position: relative;
  display: block;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
    height: 30px;
    aspect-ratio: 3;
    --c:no-repeat linear-gradient(#4943ff 0 0);
    transition: --c 2s ease;
    background:
      var(--c) calc(0*100%/5) 50%,
      var(--c) calc(1*100%/5) 50%,
      var(--c) calc(2*100%/5) 50%,
      var(--c) calc(3*100%/5) 50%,
      var(--c) calc(4*100%/5) 50%,
      var(--c) calc(5*100%/5) 50%;
    background-size:calc(100%/6 + 1px) 50%;
    animation: l19 1s infinite cubic-bezier(0.5,170,0.5,-170);
  }
  @keyframes l19 {
      14.28% {background-position: calc(0*100%/5) 51%, calc(1*100%/5) 50%, calc(2*100%/5) 50%, calc(3*100%/5) 50%, calc(4*100%/5) 50%, calc(5*100%/5) 50%}
      28.57% {background-position: calc(0*100%/5) 50%, calc(1*100%/5) 51%, calc(2*100%/5) 50%, calc(3*100%/5) 50%, calc(4*100%/5) 50%, calc(5*100%/5) 50%}
      42.85% {background-position: calc(0*100%/5) 50%, calc(1*100%/5) 50%, calc(2*100%/5) 51%, calc(3*100%/5) 50%, calc(4*100%/5) 50%, calc(5*100%/5) 50%}
      57.14% {background-position: calc(0*100%/5) 50%, calc(1*100%/5) 50%, calc(2*100%/5) 50%, calc(3*100%/5) 51%, calc(4*100%/5) 50%, calc(5*100%/5) 50%}
      71.42% {background-position: calc(0*100%/5) 50%, calc(1*100%/5) 50%, calc(2*100%/5) 50%, calc(3*100%/5) 50%, calc(4*100%/5) 51%, calc(5*100%/5) 50%}
      85.71% {background-position: calc(0*100%/5) 50%, calc(1*100%/5) 50%, calc(2*100%/5) 50%, calc(3*100%/5) 50%, calc(4*100%/5) 50%, calc(5*100%/5) 51%}
  }

  